.iconoutlinehome5 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home6 {
  background-color: #fff;
  height: 44px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.categories5,
.item34,
.item35,
.item36 {
  width: 44.58px;
  height: 43.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.categories5,
.item35,
.item36 {
  width: 134.98px;
  height: 43.77px;
}
.categories5,
.item36 {
  width: 101.05px;
  height: 43.19px;
}
.categories5 {
  top: 3.75px;
  left: 480.08px;
  width: 578.68px;
  height: 42.19px;
  justify-content: center;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories5,
.logo10,
.vector-icon5 {
  position: absolute;
  margin: 0 !important;
}
.logo10 {
  top: 3.75px;
  left: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
}
.vector-icon5 {
  height: 100%;
  width: 4.9%;
  top: 5.24%;
  right: 92.46%;
  bottom: -5.24%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.headerleft5 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
}
.sign-up5 {
  position: relative;
  font-weight: 600;
}
.lightbutton4 {
  border-radius: 4px;
  background-color: #047857;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 11px 24px;
  align-items: center;
  justify-content: center;
}
.buttons2,
.header6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons2 {
  align-items: flex-start;
  cursor: pointer;
  text-align: center;
  color: #fff;
}
.header6 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 1366px;
  height: 55px;
  align-items: center;
  gap: 32px;
}
.black-and-white-collection-15 {
  position: relative;
  width: 23.66px;
  height: 20.49px;
}
.lendme {
  flex: 1;
  position: relative;
  font-weight: 800;
  background: linear-gradient(-88.11deg, #059669, #00d995);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.logo12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 16px;
  font-family: "Open Sans";
}
.subtitle14 {
  align-self: stretch;
  position: relative;
  font-size: 14px;
  color: #64748b;
}
.header7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 22px;
}
.label23 {
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.bar4,
.email6,
.label23 {
  align-self: stretch;
}
.bar4 {
  border: 0;
  background-color: transparent;
}
.email6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.left-text {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.label24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 68px;
}
.sub-label {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  color: #dc2626;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.invalid-email {
  margin-top: -17px;
}
.fill4,
.iconsoutlinecheckmark1 {
  position: relative;
  width: 16px;
  height: 16px;
}
.fill4 {
  border-radius: 2px;
  background-color: #047857;
}
.iconsoutlinecheckmark1 {
  margin-top: -16px;
}
.checkbox-icon {
  background-color: #fff;
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.keep-me-signed {
  align-self: stretch;
  position: relative;
}
.label25 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.checkbox4,
.cta15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.checkbox4 {
  justify-content: flex-start;
  gap: 8px;
}
.cta15 {
  border-radius: 4px;
  background-color: #047857;
  height: 44px;
  padding: 6px 12px;
  box-sizing: border-box;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.or-sign-up {
  flex: 1;
  position: relative;
  font-weight: 500;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.or-sign-up-with-wrapper {
  background-color: #fff;
  width: 112px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.or-child,
.or1 {
  box-sizing: border-box;
}
.or-child {
  position: relative;
  border-top: 1px solid #4b5768;
  width: 655px;
  height: 1px;
  margin-top: -17px;
}
.or1 {
  width: 754px;
  height: 32px;
  display: flex;
  flex-direction: column;
  padding: 18px 50px 14px;
  align-items: center;
  justify-content: flex-end;
}
.logo-googleg-48dp {
  position: relative;
  width: 16px;
  height: 16px;
}
.google-logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.google {
  position: relative;
}
.google-button1 {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
  gap: 6px;
  opacity: 0.8;
}
.path4-icon1 {
  position: relative;
  width: 14px;
  height: 16px;
}
.apple-button1,
.path4-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.apple-button1 {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  padding: 8px;
  gap: 6px;
}
.container10,
.socials1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.socials1 {
  flex-direction: row;
  align-items: flex-end;
  gap: 4px;
  font-size: 12px;
  color: #191d23;
}
.container10 {
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.sign-up-here {
  color: #047857;
  cursor: pointer;
}
.dont-have-an-container {
  align-self: stretch;
  position: relative;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  color: #191d23;
}
.forgot-password {
  cursor: pointer;
  position: relative;
  font-size: 12px;
  color: #047857;
  text-align: right;
}
.bottom4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  color: #4b5768;
}
.log-in1,
.loginpage {
  background-color: #fff;
}
.log-in1 {
  position: absolute;
  top: 169px;
  left: 25%;
  border-radius: 4px;
  width: 50%;
  height: 601px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 14px;
  color: #191d23;
}
.loginpage {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #64748b;
  font-family: Manrope;
}
