

.log-in2 {
  position: relative;
  font-weight: 600;
}


.fast-accurate-reliable {
  align-self: stretch;
  position: relative;
  background: linear-gradient(-89.29deg, #00d090 11.66%, #5ad7fe 93.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.the-most-powerful {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 32px;
}
.fast-accurate-reliable-parent {
  position: absolute;
  width: calc(100% - 588px);
  top: 206px;
  right: 288px;
  left: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  text-align: center;
  font-size: 64px;
  overflow: hidden;
  max-height: 300px;
}
.merchant-account-icon {
  position: relative;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.icon4 {
  border-radius: 40px;
  background-color: #e8edfb;
  width: 64px;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.title12 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  color: #191d23;
}
.content19 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.text28 {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #191d23;
}
.card1 {
  flex: 1;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.header9,
.text29 {
  align-self: stretch;
}
.header9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text29 {
  position: relative;
  font-weight: 300;
}
.card-parent,
.paragraph1 {
  display: flex;
  justify-content: flex-start;
}
.paragraph1 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  font-size: 16px;
  color: #191d23;
}
.card-parent {
  position: absolute;
  top: 492px;
  left: 6px;
  width: 100%;
  flex-direction: row;
  padding: 0 128px;
  box-sizing: border-box;
  align-items: center;
  gap: 32px;
  text-align: center;
  font-size: 14px;
  font-family: Manrope;
}
.newsletter1 {
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
}
.be-the-first {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.menu {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}
.coloricon {
  width: 16px;
  height: 16px;
}
.coloricon,
.enter-your-email,
.register-login {
  position: relative;
}
.register-login {
  font-weight: 500;
}
.colorbutton,
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.colorbutton {
  border-radius: 8px;
  background-color: #fff;
  width: 94px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 38px;
  box-sizing: border-box;
  align-items: center;
}
.right {
  flex: 1;
  align-items: flex-end;
  color: #059669;
}
.colornewsletter,
.newsletter {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.colornewsletter {
  background-color: #06102b;
  width: 457px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 6px 0 24px;
  box-sizing: border-box;
  gap: 8px;
  text-align: center;
}
.newsletter {
  align-self: stretch;
  background-color: #059669;
  padding: 28px 36px;
  gap: 10px;
  color: #fff;
}
.read-more {
  color: #1d4ed8;
}
.we-ara-a-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans";
  color: #4b5768;
}
.introduction1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.div83,
.icons30 {
  position: relative;
}
.icons30 {
  width: 32px;
  height: 32px;
}
.div83 {
  align-self: stretch;
  font-weight: 500;
  color: #1d4ed8;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.text31 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.campfire-ave-meriden1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  color: #1d4ed8;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 35;
  -webkit-box-orient: vertical;
}
.lighticon4 {
  position: relative;
  width: 36px;
  height: 36px;
}
.fax {
  align-self: stretch;
  position: relative;
}
.lightfax,
.text34 {
  align-items: flex-start;
}
.text34 {
  width: 158px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2px;
}
.lightfax {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: 12px;
}
.contact1,
.left1,
.lightfax {
  display: flex;
  justify-content: flex-start;
}
.contact1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 80px;
  font-size: 16px;
  color: #4b5768;
  font-family: "DM Sans";
}
.left1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 30px;
  font-family: Manrope;
}
.about,
.items,
.left1 {
  align-self: stretch;
}
.about {
  position: relative;
  text-transform: capitalize;
}
.items {
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  color: #4b5768;
}
.items,
.items6,
.menu1,
.menus {
  display: flex;
  align-items: flex-start;
}
.menu1 {
  width: 137.33px;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.items6,
.menus {
  flex-direction: row;
}
.menus {
  align-self: stretch;
  justify-content: space-evenly;
}
.items6 {
  flex: 1;
  justify-content: flex-start;
  gap: 40px;
}
.all-rights-reserved {
  position: relative;
  text-align: right;
}
.bottombar {
  align-self: stretch;
  border-top: 1px solid #d0d5dd;
  display: flex;
  flex-direction: row;
  padding: 24px 0;
  align-items: center;
  justify-content: center;
  color: #4b5768;
}
.footer {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 12px;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 92px 128px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 56px;
  color: #191d23;
}
.your-current-sales {
  align-self: stretch;
  position: relative;
  font-size: 18px;
  color: #64748b;
}
.heading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
  z-index: 0;
  color: #191d23;
}
.divider11 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid #e7eaee;
  box-sizing: border-box;
  height: 1px;
  z-index: 1;
}
.settings-kabob-child {
  position: relative;
  border-radius: 50%;
  background-color: #d0d5dd;
  width: 6px;
  height: 6px;
}
.settings-kabob {
  margin: 0 !important;
  position: absolute;
  top: 57px;
  right: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
  z-index: 2;
}
.b,
.frame-child {
  position: relative;
}
.frame-child {
  align-self: stretch;
  border-right: 3px solid #e7eaee;
  box-sizing: border-box;
  width: 6px;
}
.b {
  font-size: 22px;
  color: #191d23;
}
.line-parent,
.overall-return-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.line-parent {
  flex-direction: row;
  gap: 4px;
  z-index: 0;
}
.badge-child {
  position: relative;
  border-radius: 1px;
  width: 10px;
  height: 10px;
}
.badge {
  margin: 0 !important;
  position: absolute;
  top: 26px;
  left: 65px;
  border-radius: 4px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  z-index: 1;
  text-align: left;
  color: #1d4ed8;
}
.stat {
  flex: 1;
  position: relative;
  gap: 12px;
}
.badge1,
.search-bar22,
.stat,
.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.badge1 {
  margin: 0 !important;
  position: absolute;
  top: 26px;
  left: 58px;
  border-radius: 4px;
  background-color: transparent;
  gap: 4px;
  z-index: 1;
  text-align: left;
  color: #1d4ed8;
}
.search-bar22,
.stats {
  width: 482px;
  gap: 40px;
}
.search-bar22 {
  border-radius: 4px;
  border: 1px solid #e7eaee;
  box-sizing: border-box;
  width: 215px;
  height: 40px;
  padding: 8px;
  justify-content: flex-end;
  gap: 8px;
}
.icon7 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.month {
  align-self: stretch;
  flex: 1;
  border-radius: 3px;
  background-color: #e7eaee;
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.icons34 {
  position: relative;
  width: 20px;
  height: 20px;
}
.buttons4 {
  width: 215px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 12px;
}
.container11,
.tools {
  display: flex;
  justify-content: flex-start;
}
.tools {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  text-align: left;
  font-size: 14px;
}
.container11 {
  align-self: stretch;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  gap: 8px;
  z-index: 3;
  text-align: center;
  font-size: 16px;
}
.lines-icon {
  position: absolute;
  width: calc(100% - 68px);
  top: 9.5px;
  right: 0;
  left: 68px;
  max-width: 100%;
  overflow: hidden;
  height: 199.5px;
}
.div90 {
  position: relative;
  text-align: left;
}
.y-axis {
  position: absolute;
  top: 0;
  left: 0;
  height: 217px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.credit1,
.credit2,
.credit3 {
  position: relative;
  border-radius: 1.5px;
  width: 40px;
}
.credit1 {
  flex: 1;
  background-color: #6183e4;
}
.credit2,
.credit3 {
  background-color: #1d4ed8;
  height: 47px;
}
.credit3 {
  background-color: #0c1f56;
  height: 35px;
}
.column6,
.data1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.data1 {
  height: 118px;
  gap: 1px;
}
.column6 {
  flex: 1;
  gap: 25px;
}
.credit6,
.credit7 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 62px;
}
.credit7 {
  background-color: #0c1f56;
  height: 50px;
}
.data2 {
  height: 137px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1px;
}
.credit10,
.credit11 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 85px;
}
.credit11 {
  background-color: #0c1f56;
  height: 32px;
}
.data3 {
  height: 154px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit14,
.credit15 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 37px;
}
.credit15 {
  background-color: #0c1f56;
  height: 54px;
}
.data4 {
  height: 127px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit18,
.credit19 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 58px;
}
.credit19 {
  background-color: #0c1f56;
  height: 71px;
}
.data5 {
  height: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit23 {
  position: relative;
  border-radius: 1.5px;
  background-color: #0c1f56;
  width: 40px;
  height: 61px;
}
.data6 {
  height: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit26,
.credit27 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 45px;
}
.credit27 {
  background-color: #0c1f56;
  height: 87px;
}
.data7 {
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit30,
.credit31 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 74px;
}
.credit31 {
  background-color: #0c1f56;
  height: 75px;
}
.data8 {
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit34,
.credit35 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 55px;
}
.credit35 {
  background-color: #0c1f56;
  height: 86px;
}
.data9 {
  height: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit38 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 36px;
}
.data10 {
  height: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1px;
}
.credit42,
.credit46,
.credit47 {
  position: relative;
  border-radius: 1.5px;
  background-color: #1d4ed8;
  width: 40px;
  height: 20px;
}
.credit46,
.credit47 {
  height: 32px;
}
.credit47 {
  background-color: #0c1f56;
  height: 43px;
}
.data12,
.graph1 {
  display: flex;
  justify-content: flex-start;
}
.data12 {
  height: 100px;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}
.graph1 {
  position: absolute;
  width: calc(100% - 72px);
  top: 17px;
  right: 4px;
  left: 68px;
  height: 236px;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
}
.data {
  flex: 1;
  position: relative;
  height: 253px;
}
.ellipse-div {
  position: relative;
  border-radius: 50%;
  background-color: #6183e4;
  width: 8px;
  height: 8px;
}
.ellipse-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.frame-child1,
.frame-child2 {
  position: relative;
  border-radius: 50%;
  background-color: #1d4ed8;
  width: 8px;
  height: 8px;
}
.frame-child2 {
  background-color: #0c1f56;
}
.chart,
.graph,
.key {
  display: flex;
  justify-content: flex-start;
}
.key {
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  text-align: left;
  font-size: 12px;
  color: #191d23;
}
.chart,
.graph {
  align-items: flex-start;
}
.graph {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
  z-index: 4;
  text-align: right;
  font-size: 14px;
}
.chart {
  position: absolute;
  top: calc(50% - 293.5px);
  left: calc(50% - 0px);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 60%;
  flex-direction: column;
  padding: 32px 64px;
  box-sizing: border-box;
  gap: 32px;
  font-size: 24px;
  color: #64748b;
  font-family: Manrope;
}
.lorem-ipsum-dolor {
  position: absolute;
  top: 260px;
  left: calc(50% - 592px);
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  width: 538px;
}
.label27 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.buttons5,
.track-real-time {
  position: absolute;
  left: calc(50% - 592px);
}
.buttons5 {
  top: 576px;
  border-radius: 4px;
  background-color: #06102b;
  width: 208px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Manrope;
}
.track-real-time {
  top: 142px;
  font-size: 40px;
  font-weight: 500;
  display: inline-block;
  width: 464px;
}
.icons-wrapper {
  border-radius: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: flex-start;
  justify-content: flex-start;
}
.advanced-analytics {
  flex: 1;
  position: relative;
}
.feature,
.feature1,
.feature2 {
  position: absolute;
  top: 424px;
  left: calc(50% - 592px);
  width: 298px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 17px;
}
.feature1,
.feature2 {
  top: 472px;
}
.feature2 {
  top: 520px;
}
.line-div {
  position: absolute;
  top: 399.5px;
  left: calc(50% - 592.5px);
  border-top: 1px solid #e7eaee;
  box-sizing: border-box;
  width: 429px;
  height: 1px;
}
.why-choose-us {
  position: absolute;
  top: 118px;
  left: calc(50% - 592px);
  line-height: 20px;
  text-align: center;
}
.chart-parent {
  position: absolute;
  top: 894px;
  left: calc(50% - 720px);
  background-color: #059669;
  width: 100%;
  height: 745px;
  overflow: hidden;
  color: #fff;
}
.landingpage {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 2603px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #64748b;
  font-family: "DM Sans";
}
