.iconoutlinehome2 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home2,
.item12 {
  display: flex;
  align-items: center;
}
.home2 {
  background-color: #fff;
  height: 44px;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.item12 {
  width: 44.58px;
  height: 43.7px;
  flex-direction: row;
  justify-content: flex-start;
}
.investment2,
.lighticon2 {
  position: relative;
}
.lighticon2 {
  width: 16.03px;
  height: 16.03px;
}
.categories2,
.item13,
.item14,
.item15,
.item16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.item13 {
  width: 134.98px;
  height: 43.77px;
  gap: 8px;
}
.categories2,
.item14,
.item15,
.item16 {
  width: 150.05px;
  height: 43.19px;
}
.categories2,
.item15,
.item16 {
  width: 109.05px;
}
.categories2,
.item16 {
  width: 101.05px;
}
.categories2 {
  top: 3.44px;
  left: 319.64px;
  width: 684.44px;
  height: 42.19px;
  justify-content: center;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories2,
.logo4,
.vector-icon2 {
  position: absolute;
  margin: 0 !important;
}
.logo4 {
  top: 3.75px;
  left: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
}
.vector-icon2 {
  height: 100%;
  width: 4.9%;
  top: 5.24%;
  right: 92.46%;
  bottom: -5.24%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.header3,
.headerleft2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerleft2 {
  flex: 1;
  position: relative;
  gap: 8px;
}
.header3 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 1366px;
  height: 55px;
  color: #64748b;
}
.jenny-wilson2,
.jenwilsonexamplecom2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.jenwilsonexamplecom2 {
  color: #a0abbb;
}
.content-frame,
.content2 {
  display: flex;
  justify-content: flex-start;
}
.content2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.content-frame {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.left-icon2 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.layout3,
.log-out2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.layout3 {
  overflow: hidden;
  padding: 0 4px;
}
.log-out2 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #f7f8f9;
  padding: 6px 8px;
  gap: 4px;
}
.profileandlogout2 {
  position: absolute;
  top: 18px;
  left: 1152px;
  width: 251px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.icon3 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-frame {
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.loan-details {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.settings2,
.top5 {
  display: flex;
  justify-content: flex-start;
}
.top5 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.settings2 {
  position: absolute;
  top: 175px;
  left: 89px;
  border-radius: 4px;
  background-color: #fff;
  width: 333px;
  height: 49px;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  font-size: 24px;
}
.borrower-details,
.loan-repayment-schedule {
  position: absolute;
  top: 257px;
  left: 119px;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.loan-repayment-schedule {
  top: 597px;
  -webkit-line-clamp: 23;
  width: 287px;
}
.subtitle {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  color: #64748b;
}
.container,
.content3,
.user {
  display: flex;
  justify-content: flex-start;
}
.content3 {
  width: 207px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.container,
.user {
  flex-direction: row;
  align-items: center;
}
.container {
  flex: 1;
}
.user {
  border-radius: 4px;
  background-color: #fff;
  width: 30%;
  height: 82px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 16px;
  margin-left: 32px;
  margin-top: 15px;
}
.title4 {
  position: relative;
  letter-spacing: -0.5px;
}
.subtitle1 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #64748b;
  text-align: left;
  width: 80px;
}
.content4,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content4 {
  align-self: stretch;
  justify-content: flex-start;
  gap: 8px;
}
.info {
  border-radius: 4px;
  background-color: #fff;
  width: 33%;
  height: 105px;
  overflow: hidden;
  padding: 24px 16px;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.subtitle2 {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #64748b;
  text-align: left;
  display: inline-block;
  width: 120px;
}
.info1 {
  border-radius: 4px;
  background-color: #fff;
  width: 33%;
  height: 105px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.principle-amount {
  flex: 1;
  position: relative;
}
.row12 {
  align-self: stretch;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.divider,
.years {
  position: relative;
}
.years {
  text-align: right;
}
.divider {
  align-self: stretch;
  border-top: 1px solid #e7eaee;
  box-sizing: border-box;
  height: 1px;
}
.div9,
.maturity-amount {
  position: relative;
  font-weight: 600;
}
.maturity-amount {
  flex: 1;
}
.div9 {
  text-align: right;
}
.list2,
.row17 {
  display: flex;
  align-items: flex-start;
}
.row17 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  font-size: 18px;
}
.list2 {
  width: 100%;
  height: 547px;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  z-index: 0;
}
.checkout2,
.cta4 {
  position: absolute;
  display: flex;
  box-sizing: border-box;
}
.cta4 {
  margin: 0 !important;
  top: 485px;
  left: 16px;
  border-radius: 4px;
  background-color: #047857;
  width: 90%;
  flex-direction: row;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  z-index: 1;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.checkout2 {
  top: 546px;
  left: 70%;
  border-radius: 8px;
  background-color: #fff;
  width: 21%;
  height: 568px;
  flex-direction: column;
  padding: 10px 16px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px;
}
.sr-no {
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
  width: 116px;
  flex-shrink: 0;
}
.head {
  align-self: stretch;
  border-bottom: 1px solid #e7eaee;
  box-sizing: border-box;
  height: 59.33px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  color: #64748b;
}
.div10 {
  position: relative;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
  width: 121px;
  flex-shrink: 0;
}
.column,
.head1,
.wrapper {
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  width: 140px;
  flex-direction: row;
  align-items: center;
}
.column,
.head1 {
  align-self: stretch;
}
.head1 {
  flex: 1;
  background-color: #fff;
  border-bottom: 1px solid #e7eaee;
  flex-direction: row;
  padding: 16px 8px;
  align-items: center;
}
.column {
  width: 129px;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.apr-2023,
.due-date {
  flex: 1;
  position: relative;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.due-date {
  font-weight: 600;
  -webkit-line-clamp: 15;
}
.apr-2023 {
  -webkit-line-clamp: 17;
}
.column1 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.emi {
  position: relative;
  font-weight: 600;
}
.card,
.head18,
.paragraph,
.table {
  display: flex;
  justify-content: flex-start;
}
.head18 {
  align-self: stretch;
  border-bottom: 1px solid #e7eaee;
  box-sizing: border-box;
  height: 59.33px;
  flex-direction: row;
  padding: 8px 0 8px 8px;
  align-items: center;
  font-size: 14px;
  color: #64748b;
}
.card,
.paragraph,
.table {
  align-items: flex-start;
}
.table {
  position: absolute;
  top: 653.5px;
  left: 114.5px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #dadadb;
  box-sizing: border-box;
  flex-direction: row;
  max-width: 65%;
  width: 60%;
}
.card,
.paragraph {
  flex-direction: column;
}
.paragraph {
  align-self: stretch;
}
.card {
  position: absolute;
  top: 305px;
  left: 70%;
  border-radius: 4px;
  background-color: #fff;
  width: 20%;
  height: 205px;
  padding: 16px;
  box-sizing: border-box;
  gap: 13px;
}
.introduction {
  align-self: stretch;
}
.icons9,
.tel {
  position: relative;
}
.icons9 {
  width: 32px;
  height: 32px;
}
.tel {
  align-self: stretch;
}
.lighttel,
.text6 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.lighttel {
  align-self: stretch;
  flex-direction: row;
  gap: 12px;
}
.unrealoutlookcom {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #047857;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.campfire-ave-meriden,
.contact,
.unrealoutlookcom {
  align-self: stretch;
  align-items: center;
}
.campfire-ave-meriden {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  color: #047857;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 35;
  -webkit-box-orient: vertical;
}
.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 160px;
  margin-top: -49px;
}
.left,
.left-wrapper {
  position: absolute;
  box-sizing: border-box;
}
.left {
  padding: 22px 0 50px;
  top: 62px;
  left: 30%;
}
.left-wrapper {
  top: 293px;
  left: 8%;
  border: 1px solid #dadadb;
  width: 59%;
  height: 200px;
  overflow: hidden;
  font-size: 14px;
  display: flex;
}
.loandetailpage {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1585px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #191d23;
  font-family: Manrope;
}
.invest-modal-btn-no {
margin-right: 20px;
width: 30%;

}
.invest-modal-btn-yes {
width: 50%;
}
.invest-modal-btns {
  margin-top: 15px;
}