.iconoutlinehome3 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home4,
.item18 {
  display: flex;
  align-items: center;
}
.home4 {
  background-color: #fff;
  height: 44px;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.item18 {
  width: 44.58px;
  height: 43.7px;
  flex-direction: row;
  justify-content: flex-start;
}
.investment3,
.lighticon3 {
  position: relative;
}
.lighticon3 {
  width: 16.03px;
  height: 16.03px;
}
.categories3,
.item19,
.item20,
.item21,
.item22 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.item19 {
  width: 134.98px;
  height: 43.77px;
  gap: 8px;
}
.categories3,
.item20,
.item21,
.item22 {
  width: 150.05px;
  height: 43.19px;
}
.categories3,
.item21,
.item22 {
  width: 109.05px;
}
.categories3,
.item22 {
  width: 101.05px;
}
.categories3 {
  top: 3.44px;
  left: 319.64px;
  width: 684.44px;
  height: 42.19px;
  justify-content: center;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories3,
.logo6,
.vector-icon3 {
  position: absolute;
  margin: 0 !important;
}
.logo6 {
  top: 3.75px;
  left: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
}
.vector-icon3 {
  height: 100%;
  width: 4.9%;
  top: 5.24%;
  right: 92.46%;
  bottom: -5.24%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.header4,
.headerleft3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerleft3 {
  flex: 1;
  position: relative;
  gap: 8px;
}
.header4 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 1366px;
  height: 55px;
  color: #64748b;
}
.jenny-wilson3,
.jenwilsonexamplecom3 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.jenwilsonexamplecom3 {
  color: #a0abbb;
}
.content-wrapper1,
.content6 {
  display: flex;
  justify-content: flex-start;
}
.content6 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.content-wrapper1 {
  flex-direction: row;
  align-items: center;
}
.content-wrapper1,
.log-out3 {
  align-self: stretch;
}
.profileandlogout3 {
  position: absolute;
  top: 18px;
  left: 1152px;
  width: 251px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.principle-amount1,
.title6 {
  position: relative;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}
.title6 {
  align-self: stretch;
  font-size: 22px;
  -webkit-line-clamp: 24;
}
.principle-amount1 {
  flex: 1;
  font-weight: 600;
  -webkit-line-clamp: 16;
}
.icons12 {
  position: relative;
  width: 20px;
  height: 20px;
}
.section-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.fill {
  border-radius: 2px;
  background-color: #047857;
}
.fill,
.iconsoutlinecheckmark {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.checkbox {
  position: relative;
  background-color: #fff;
  width: 16px;
  height: 16px;
}
.less-than {
  flex: 1;
  position: relative;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.item24 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.fill1 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 2px;
  background-color: #fff;
}
.checkbox1,
.fill1,
.outline {
  width: 16px;
  height: 16px;
}
.outline {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 2px;
  border: 2px solid rgba(4, 9, 33, 0.32);
  box-sizing: border-box;
}
.checkbox1 {
  position: relative;
}
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.annual-interest-rate {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  -webkit-line-clamp: 20;
  -webkit-box-orient: vertical;
}
.section-title1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
}
.radio-empty {
  position: relative;
  width: 18px;
  height: 18px;
}
.scale-option {
  flex-direction: column;
  align-items: center;
}
.scale-option,
.scale-option-parent,
.scale-option4 {
  display: flex;
  justify-content: flex-start;
}
.scale-option-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.scale-option4 {
  flex-direction: column;
  align-items: flex-start;
}

.dropdown,
.filters {
  display: flex;
  justify-content: flex-start;
}
.dropdown {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #047857;
}
.filters {
  position: absolute;
  top: 12%;
  left: 6%;
  border-radius: 4px;
  background-color: #fff;
  width: 18%;
  height: 774px;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 31px;
}
.content7 {
  flex: 1;
}
.icons15 {
  position: relative;
  width: 24px;
  height: 24px;
}
.section2 {
  width: 24%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.divider-icon {
  position: relative;
  width: 2.67px;
  height: 61.02px;
}
.subtitle3,
.title7 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.subtitle3 {
  font-size: 16px;
  font-weight: 300;
  color: #64748b;
}
.content8 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.section3 {
  width: 24%;
  height: 56px;
  flex-direction: row;
  align-items: center;
}
.content9,
.section3,
.section4 {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}
.content9 {
  width: 270px;
  height: 52px;
  flex-direction: column;
  align-items: flex-start;
}
.section4 {
  width: 24%;
  flex-direction: row;
  align-items: center;
}
.search {
  position: relative;
  font-weight: 500;
  background-color: #047857;
  padding: 14px;
}
.search:hover {
  background-color: #035c43
}

.lightbutton2,
.searchbar {
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.lightbutton2 {
  background-color: #047857;
  overflow: hidden;
  flex-direction: column;
  padding: 16px 32px;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.loggedinlandingloanslist-child {
  position: absolute;
  top: 12%;
  left: 24%;
  background-color: #f3f3f3;
  border: 1px solid #dadadb;
  box-sizing: border-box;
  width: 69%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px;
  min-height: 500px;
  height: 700px;
  overflow-y: scroll;
}
.subtitle5 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  color: #64748b;
}
.content10 {
  width: 207px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}
.container1,
.content10,
.space,
.user1,
.verified {
  display: flex;
  justify-content: flex-start;
}
.container1 {
  flex: 1;
  width: 160px;
  flex-direction: row;
  align-items: center;
}
.space,
.user1,
.verified {
  box-sizing: border-box;
}
.space {
  width: 150px;
  height: 48px;
  flex-direction: column;
  padding: 20px 16px 0 0;
  align-items: flex-start;
}
.user1,
.verified {
  border-radius: 4px;
  flex-direction: row;
  align-items: center;
}
.verified {
  background-color: #ecfdf5;
  width: 120px;
  height: 40px;
  padding: 4px 10px;
  gap: 8px;
  font-size: 11px;
  overflow: hidden;
  color: #064e3b;
}
.user1 {
  background-color: #fff;
  height: 60px;
  padding: 8px 0;
  gap: 12px;
  font-size: 14px;
}
.principle-amount2 {
  flex: 1;
  position: relative;
}
.div56 {
  position: relative;
  text-align: right;
}
.divider1,
.row18 {
  align-self: stretch;
}
.row18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.divider1 {
  position: relative;
  border-top: 1px solid #e7eaee;
  box-sizing: border-box;
  height: 1px;
}
.div58,
.total {
  position: relative;
  font-weight: 600;
}
.total {
  flex: 1;
}
.div58 {
  text-align: right;
}
.cta5,
.list3,
.row21 {
  align-self: stretch;
  display: flex;
}
.row21 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 18px;
}
.cta5,
.list3 {
  justify-content: center;
}
.list3 {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.cta5 {
  border-radius: 4px;
  background-color: #047857;
  flex-direction: row;
  padding: 10px 12px;
  align-items: center;
  text-align: center;
  color: #fff;
}
.cta5:hover {
  background-color: #035c43
}

.checkout3 {
  border-radius: 8px;
  background-color: #fff;
  width: 32%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding: 10px 16px;
  gap: 25px;
  margin: 15px 4px;
  max-width: 310px;
}

.loggedinlandingloanslist {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1200px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #191d23;
  font-family: Manrope;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, 
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked  {
  color: #047857;
}
.show-more {
  width: 70px;
}
.loader-container {
  width: 100%;
}