.iconoutlinehome9 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home11,
.item58 {
  display: flex;
  align-items: center;
}
.home11 {
  background-color: #fff;
  height: 44px;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.item58 {
  width: 44.58px;
  flex-direction: row;
  justify-content: flex-start;
}
.investment9 {
  cursor: pointer;
}
.lighticon7 {
  width: 16.03px;
  height: 16.03px;
}
.categories9,
.item59,
.item60,
.item61,
.item62 {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  cursor: pointer;
}
.item59 {
  gap: 8px;
}
.item60, .item59 {
  width: 17%;
}

.item61 {
  width: 15%;
}
.item62 {
  width: 13%;
}
.categories9 {
  top: 3.44px;
  left: 319.64px;
  width: 57%;
  justify-content: space-evenly;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories9,
.logo20,
.vector-icon9 {
  position: absolute;
  margin: 0 !important;
}
.logo20 {
  top: 3.75px;
  left: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
  cursor: pointer;
}
.vector-icon9 {
  width: 4.9%;
  top: 5.24%;
  right: 92.46%;
  bottom: -5.24%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.header13,
.headerleft9 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.headerleft9 {
  flex: 1;
  position: relative;
  gap: 8px;
}
.header13 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 90%;
  height: 55px;
  text-align: left;
  font-size: 16px;
  color: #64748b;
  font-family: Manrope;
}

.jenny-wilson6,
.jenwilsonexamplecom6 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  -webkit-box-orient: vertical;
}
.jenwilsonexamplecom6 {
  color: #a0abbb;
}
.content-wrapper4,
.content38 {
  display: flex;
  justify-content: flex-start;
}
.content38 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.content-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.left-icon5 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.label30 {
  position: relative;
  font-weight: 600;
}
.layout6,
.log-out6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.layout6 {
  overflow: hidden;
  padding: 0 4px;
}
.log-out6 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #f7f8f9;
  padding: 6px 8px;
  gap: 4px;
  cursor: pointer;
}
.profileandlogout6 {
  position: absolute;
  top: 18px;
  left: 80%;
  width: 17%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  font-size: 16px;
  color: #191d23;
  font-family: Manrope;
}
.buttons3,
.header8 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons3 {
  align-items: flex-start;
  gap: 12px;
  text-align: center;
  color: #047857;
  position: relative;
  top: 23.75px;

}
.header8 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 90%;
  height: 55px;
  align-items: center;
  gap: 32px;
  font-family: Manrope;
}
.headerleft6 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
}
.categories6,
.item40,
.item41,
.item42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.item40 {
  width: 10%;
  cursor: pointer;
}
.item41 {
  width: 24%;
  cursor: pointer;
}
.item42 {
  width: 18%;
  cursor: pointer;
}

.categories6 {
  top: 3.75px;
  left: 35%;
  width: 60%;
  justify-content: center;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories6,
.logo13,
.vector-icon6 {
  position: absolute;
  margin: 0 !important;
}
.logo13 {
  top: 3.75px;
  left: 10%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
  cursor: pointer;
}
.vector-icon6 {
  width: 5.41%;
  top: 5.24%;
  right: 91.68%;
  bottom: -5.24%;
  left: 2.91%;
  max-width: 100%;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}
.lightbutton5,
.lightbutton6 {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.lightbutton5 {
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
}
.lightbutton6 {
  background-color: #047857;
  padding: 11px 24px;
  color: #fff;
}
.iconoutlinehome6 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home7 {
  background-color: #fff;
  height: 44px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.log-in2 {
  position: relative;
  font-weight: 600;
}