.iconoutlinehome4 {
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
  mix-blend-mode: normal;
}
.home5,
.item28 {
  display: flex;
  align-items: center;
}
.home5 {
  background-color: #fff;
  height: 44px;
  flex-direction: column;
  padding: 8px;
  box-sizing: border-box;
  justify-content: center;
  transform: rotate(-0.11deg);
  transform-origin: 0 0;
}
.item28 {
  width: 44.58px;
  height: 43.7px;
  flex-direction: row;
  justify-content: flex-start;
}
.personal-loan {
  position: relative;
}
.categories4,
.item29,
.item30 {
  width: 134.98px;
  height: 43.77px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.categories4,
.item30 {
  width: 101.05px;
  height: 43.19px;
}
.categories4 {
  top: 3.75px;
  left: 480.08px;
  width: 578.68px;
  height: 42.19px;
  justify-content: center;
  gap: 20px;
  transform: rotate(0.11deg);
  transform-origin: 0 0;
  z-index: 0;
}
.categories4,
.logo8,
.vector-icon4 {
  position: absolute;
  margin: 0 !important;
}
.logo8 {
  top: 3.75px;
  left: 111px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
  font-size: 30px;
  color: #191d23;
}
.vector-icon4 {
  height: 100%;
  width: 4.9%;
  top: 5.24%;
  right: 92.46%;
  bottom: -5.24%;
  left: 2.64%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 2;
}
.headerleft4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 8px;
}
.log-in {
  position: relative;
  font-weight: 600;
}
.lightbutton3 {
  border-radius: 4px;
  height: 48px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttons1,
.header5 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.buttons1 {
  align-items: flex-start;
  text-align: center;
  color: #047857;
}
.header5 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 1366px;
  height: 55px;
  align-items: center;
  gap: 32px;
}
.sign-up4,
.well-get-you {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.well-get-you {
  font-size: 14px;
  font-weight: 300;
  color: #64748b;
}
.sign-up-parent,
.title9,
.top7 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.sign-up-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}
.title9,
.top7 {
  flex-direction: row;
  justify-content: flex-end;
}
.top7 {
  flex-direction: column;
  justify-content: flex-start;
}
.google-logo-icon {
  position: relative;
  width: 24px;
  height: 24px;
}
.google-button {
  flex: 1;
  border-radius: 4px;
  background-color: #e7eaee;
  display: flex;
  flex-direction: row;
  padding: 10px 12px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  opacity: 0.8;
}
.path4-icon {
  position: relative;
  width: 19.37px;
  height: 23px;
}
.apple-button,
.socials {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.apple-button {
  flex: 1;
  border-radius: 4px;
  background-color: #191d23;
  padding: 10px 12px;
  justify-content: center;
  gap: 10px;
  color: #fff;
}
.socials {
  align-self: stretch;
  justify-content: flex-start;
  gap: 16px;
}
.divider10 {
  position: absolute;
  width: calc(100% - 160px);
  top: calc(50% - 0.5px);
  right: 79.5px;
  left: 80.5px;
  border-top: 1px solid #4b5768;
  box-sizing: border-box;
  height: 1px;
}
.text27 {
  position: relative;
  font-weight: 500;
}
.title10 {
  position: absolute;
  top: 0;
  left: calc(50% - 56px);
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: center;
}
.alexan,
.or {
  position: relative;
}
.or {
  align-self: stretch;
  height: 32px;
  color: #4b5768;
}
.alexan {
  flex: 1;
  z-index: 0;
}
.search-bar-child {
  position: absolute;
  margin: 0 !important;
  top: 13.5px;
  left: 53.5px;
  border-right: 1px solid #191d23;
  box-sizing: border-box;
  width: 1px;
  height: 14px;
  z-index: 1;
}
.firstname {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
/* .firstname1, */
.search-bar14 {
  display: flex;
  justify-content: flex-start;
}
.search-bar14 {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #64748b;
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  position: relative;
  gap: 8px;
}
.firstname1 {
  /* flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px; */
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.doe {
  flex: 1;
  position: relative;
}
.name11,
.search-bar15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search-bar15 {
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 40px;
  padding: 8px;
  align-items: center;
  color: #64748b;
}
.name11 {
  align-items: flex-start;
  gap: 28px;
}
.search-bar18 {
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 40px;
  width: 77rem;
}
.create-password {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.icons27 {
  position: relative;
  width: 16px;
  height: 16px;
}
.search-bar20 {
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #64748b;
}
.password,
.search-bar20,
.search-bar21 {
  align-self: stretch;
  display: flex;
}
.password {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.search-bar21 {
  border-radius: 4px;
  border: 1px solid #d0d5dd;
  box-sizing: border-box;
  height: 40px;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  justify-content: flex-end;
}
.inputs3,
.middle1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.inputs3 {
  color: #191d23;
}
.middle1 {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}
.icons29 {
  position: relative;
  width: 20px;
  height: 20px;
}
.cta14 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #047857;
  height: 44px;
  display: flex;
  flex-direction: row;
  padding: 6px 12px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.cta14:hover {
  background-color: #035c43
}
.already-have-an,
.login-here {
  position: relative;
  font-weight: 300;
}
.login-here {
  text-decoration: underline;
  font-weight: 600;
  color: #047857;
  cursor: pointer;
}
.bottom3,
.login,
.sign-up3 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.login {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  text-align: left;
  color: #191d23;
}
.bottom3,
.sign-up3 {
  flex-direction: column;
  justify-content: flex-start;
}
.bottom3 {
  align-self: stretch;
  gap: 24px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.sign-up3 {
  position: absolute;
  top: 120px;
  left: 6%;
  border-radius: 4px;
  background-color: #fff;
  width: 87%;
  height: 860px;
  padding: 32px 24px;
  box-sizing: border-box;
  gap: 40px;
  font-size: 22px;
  color: #191d23;
}
.sub-label {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  color: #dc2626;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 15;
  -webkit-box-orient: vertical;
}
.signuppage {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #64748b;
  font-family: Manrope;
}
